$black-noir: rgba(189, 189, 189, 1);
$fav-color: rgba(255, 114, 53, 1);
$whitestt: rgba(255, 255, 255, 1);
$dark: rgba(41, 40, 48, 1);
.any {
    margin-bottom: 280px;
}
.any-container {
    display: flex;
    align-items: center;
}
.any-left {
    .any-info {
        font-size: 22px;
        font-weight: 400;
        line-height: 22px;
        color: $black-noir;
        margin-bottom: 24px;
    }
    .any-desc {
        font-size: 96px;
        font-weight: 700;
        line-height: 96px;
        color: $dark;
        margin-bottom: 24px;
    }
    .any-title {
        font-size: 24px;
        font-weight: 400;
        line-height: 38.81px;
        color: $black-noir;
        margin-bottom: 24px;
    }
}
.any-links {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    transition: 3s;
    .al-desc {
        color: $fav-color;
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
    }
}
.any-links:hover {
    transform: translateX(40px);
    transition: 3s;
}
@media screen and (max-width: 1200px) {
    .any-left {
        .any-desc {
            font-size: 76px;
            line-height: 86px;
        }
        .any-title {
            font-size: 21px;
            line-height: 30px;
        }
    }
    .any-right img {
        width: 500px;
        height: 420px;
    }
}
@media screen and (max-width: 992px) {
    .any-left {
        .any-info {
            margin-bottom: 8px;
        }
        .any-desc {
            font-size: 56px;
            line-height: 56px;
            margin-bottom: 8px;
        }
        .any-title {
            font-size: 19px;
            line-height: 25px;
            margin-bottom: 8px;
        }
    }
    .any-right img {
        width: 400px;
        height: 400px;
    }
}
@media screen and (max-width: 768px) {
    .any-container {
        flex-direction: column;
        text-align: center;
    }
    .any-links img {
        display: none;
    }
    .any-links {
        display: inline;
        text-align: center;
    }
    .any-right img {
        margin-top: 20px;
        width: 580px;
        height: 500px;
    }
}
@media screen and (max-width: 600px) {
    .any-right img {
        width: 550px;
    }
}
@media screen and (max-width: 576px) {
    .any-right img {
        width: 370px;
        height: 390px;
    }
}

