$black-noir: rgba(189, 189, 189, 1);
$fav-color: rgba(255, 114, 53, 1);
$whitestt: rgba(255, 255, 255, 1);
$dark: rgba(41, 40, 48, 1);
.enter {
    margin-bottom: 211px;
}
.enter-container {
    display: flex;
    align-items: center;
}
.enter-left {
    .enter-desc {
        font-size: 96px;
        font-weight: 700;
        line-height: 96px;
        color: $dark;
        margin-bottom: 20px;
    }
    .enter-title {
        font-size: 24px;
        font-weight: 400;
        line-height: 38.81px;
        color: $black-noir;
        margin-bottom: 40px;
    }
}
.enter-links {
    display: flex;
    align-items: center;
    gap: 24px;
    .enter-but {
        display: flex;
        align-items: center;
        padding: 18px 24px 18px 24px;
        background-color: $fav-color;
        color: $whitestt;
        border: none;
        border-radius: 8px;
        transition: 1s;
    }
    .enter-pr {
        font-size: 24px;
        font-weight: 400;
        line-height: 38.81px;
        color: $black-noir;
    }
}
.enter-but:hover {
    background-color: $black-noir;
    // color: $fav-color;
    transition: 1s;
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 1100px) {
    .enter-left {
        .enter-desc {
            font-size: 70px;
            line-height: 70px;
            color: $dark;
        }
        .enter-title {
            font-size: 19px;
            line-height: 30px;
        }
    }
    .enter-links {
        .enter-but {
            padding: 15px 21px;
        }
        .enter-pr {
            font-size: 19px;
            line-height: 30px;
        }
    }
}
@media screen and (max-width: 992px) {
    .enter-left {
        .enter-desc {
            font-size: 50px;
            line-height: 50px;
            color: $dark;
        }
        .enter-title {
            font-size: 15px;
            line-height: 25px;
        }
    }
    .enter-links {
        .enter-but {
            padding: 10px 18px;
        }
        .enter-pr {
            font-size: 19px;
            line-height: 20px;
        }
    }
    .enterr-img {
        width: 438px;
        height: 378px;
    }
}
@media screen and (max-width: 768px) {
    .enter-container {
        margin-top: 600px;
    }
    .enter-left {
        .enter-desc {
            font-size: 50px;
            line-height: 50px;
            color: $dark;
            margin-bottom: 10px;
        }
        .enter-title {
            font-size: 20px;
            line-height: 25px;
        }
    }
    .enter-links {
        margin-bottom: 10px;
        .enter-but {
            padding: 18px 25px;
        }
        .enter-pr {
            font-size: 19px;
            line-height: 20px;
        }
    }
    .enterr-img {
        width: 538px;
        height: 478px;
    }
}
@media screen and (max-width: 576px) {
    .enter {
        margin-bottom: 20px;
    }
    .enter-container {
        padding-top: 20px;
        flex-direction: column;
        text-align: center;
    }
    .enter-left {
        .enter-desc {
            font-size: 50px;
            line-height: 50px;
            color: $dark;
            margin-bottom: 15px;
        }
        .enter-title {
            font-size: 20px;
            line-height: 25px;
        }
    }
    .enter-links {
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        text-align: center;

        .enter-but {
            padding: 25px 35px;
        }
        .enter-pr {
            font-size: 19px;
            line-height: 20px;
        }
    }
    .enterr-img {
        width: 400px;
        height: 458px;
    }
}

@media screen and (max-width: 420px) {
    .enterr-img {
        width: 360px;
        height: 320px;
    }
}
