$fav-color: rgba(255, 114, 53, 1);
$whitestt: rgba(255, 255, 255, 1);
.header {
    margin-top: 57px;
    margin-bottom: 107px;
}
.head-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
      .head-nav {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 30px;
    }
    .head-but {
        padding: 15px 17px;
        border: 1px solid $fav-color;
        border-radius: 8px;
        color: $fav-color;
        background-color: $whitestt;
        transition: 1s;
    }
}
.hero-butons {
    display: flex;
    align-items: center;
    gap: 20px;
}
.head-nav a {
    color: rgba(41, 40, 48, 1);
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 17.1px;
    transition: 0.5s;
}
.head-but:hover {
    background-color: $fav-color;
    transition: 1s;
    color: $whitestt;
}
.head-nav a:hover {
    transition: 0.5s;
    text-decoration: underline;
}
.head-up-check {
    display: none;
}

#head-up-check {
    display: none;
}
@media screen and (max-width: 1200px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
    .enter-container {
        flex-direction: column;
    }
    .nav{
        display: none;
    }
    .hero-gam {
        span {
            width: 10px;
            height: 10px;
            margin-bottom: 5px;
            border-radius: 10px;
            background-color: #000;
            display: block;
            color: red;
            cursor: pointer;
        }
    }

    .head-up-check {
        display: block;
    }
    .head-nav {
        background-color: #000;
    }
    #head-up-check:checked ~ .nav {
        display: block;
    
}
}

@media screen and (max-width: 576px) {
    .head-but {
        display: none;
    }
    .hero-gam {
        span {
            width: 50px;
            height: 10px;
            margin-bottom: 5px;
            border-radius: 8px;
            background-color: #000;
            display: block;
            color: red;
            cursor: pointer;
        }
    }
}
