.statistic {
    background-color: #ff7235;
    background-image: url(../images/static-bac-img.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 100px;
    padding-bottom: 0px;
    height: 625px;
    margin-bottom: 85px;
}
.st-cont-image{
    padding-top: 100px;
}
@media screen and (max-width: 1200px) {
    .st-cont-image{
        padding-top: 100px;
        width: 100%;
     }
}
@media screen and (max-width: 992px) {
    .statistic{
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 768px) {
    .st-cont-image{
        padding-top: 60px;
    }
}
@media screen and (max-width: 576px) {
    .statistic{
        display: none;
    }
}