@import "./header";
@import "./enter";
@import "./statistic";
@import "./brands";
@import "./time";
@import "./free";
@import "./any";
@import "./add";
@import "./plan";
@import "./footer";
@import "./midle";
$fav-color: rgba(255, 114, 53, 1);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    body {
        font-family: " Hind Siliguri ", sans-serif;
    }
    .container {
        max-width: 1108px;
        width: 100%;
        margin: 0 auto;
    }
}
.loader {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333;
    transition: opacity 3s, visibility 3s;
}
.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #ddd;
    border-top-color: #009578;
    border-radius: 50%;
    animation: loading 3s ease infinite;
}
@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}
.loader--hidden {
    opacity: 0;
    visibility: hidden;
}
